@page "/FinanceType/Edit/{TypeId:int}"

<div class="row">
    <div class="col text-center">
        <h1> Edit Finance Type</h1>
    </div>
</div>

<FinanceTypeForm Model="model" OnValidSubmit="Update" />


